body {
  margin: 0px;
  background-color: var(--blue);
}
.bodyWrapper {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 640px;
  margin: 0px;
  background: var(--white);
  border-radius: 20px;

  box-sizing: content-box;
}
.formWrapperL {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
.subWrapper {
  display: flex;
  flex-direction: column;
}
.fontFamily {
  font-family: "Poppins";
  text-align: center;
  color: var(--purple);
}

.txtTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--purple);
}

/* caixas */
.defaultBox {
  display: flex;
  text-align: left;
  align-items: center;
  background: var(--blue);
  color: var(--purple);
  border-radius: 30px;
  border: none;
}
.formWrapperL .defaultBox {
  height: 36px;
  width: 261px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}
input {
  padding-left: 20px;
  outline: none;
  box-sizing: border-box;
}
.formWrapperL .defaultBox:last-child {
  background: var(--purple);
  justify-content: center;
  color: white;
  margin-top: 8px;
}

:root {
  --white: #f6f2ff;
  --blue: #d1d0f9;
  --purple: #6368d9;
}

::placeholder {
  color: inherit;
}
